
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin Calendar</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body style = "background-color: lightgrey";>

<header>
<div class = "back">
<a href="admin_home.html" class="back-button">&#8592;</a>
</div>
<h1 style = "text-align: center;">Admin Calendar</h1>
</header>

<div class = "calendar-header">
<!-- months --> <h1 style = "text-align: center;">January</h1>
</div>
<main>

<div class = "calendar">
<div class = "calander-week" style = "background-color: white";>

<h3>Monday</h3>
<h3>13th</h3>
</div>

<div class = "calander-week">

<h3>Tuesday</h3>
<h3>14th</h3>
</div>

<div class = "calander-week">

<h3>Wednesday</h3>
<h3>15th</h3>
</div>

<div class = "calander-week">

<h3>Thursday</h3>
<h3>16th</h3>
</div>

<div class = "calander-week">

<h3>Friday</h3>
<h3>17th</h3>
</div>

<div class = "calander-week">

<h3>Saturday</h3>
<h3>18th</h3>
</div>

<div class = "calander-week">

<h3>Sunday</h3>
<h3>19th</h3>
</div>

</div>






</main>
</body>
</html>
