<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Student Attendance</title>
  <link rel="stylesheet" href="../style.css" />
</head>
<body style = "background-color: lightgrey;">

  <div class = "back">
  <a href="admin_home.html" class="back-button">&#8592;</a>
  </div>

<h1 style = "text-align: center;">Students Attending Event 1</h1>

<table class="attendTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>ID</th>
    </tr>
  </thead>
  <tbody id="attendee-list">
    <tr>
      <td>Student 1</td>
      <td>111</td>
    </tr>
  </tbody>
</table>

</body>
</html>
