body { 
    background-color: #cfcfcf; 
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
} 

.login-container { 
    text-align: center; 
    width: 500px; 
} 