<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
</head>
<body>
    <h1>Users</h1>
    <ul>
        {% for User in users %}
            <li>
                Full Name: {{ User.fullname }} Password: {{ User.password }}
            <form action="/delete/{{ User.id }}" method="POST" style="display:inline;">
                    <button type="submit">Delete user</button>
            </form>
            </li>
        {% endfor %}
    </ul>


    <h2>Add a New Driver</h2>
<form action="/add" method="POST">
    <input type="text" name="name" placeholder="Full name" required>
    <input type="text" name="password" placeholder="Password" required>
    <label>
        <input type="checkbox" name="staff"> Is Staff?
    </label>
    <button type="submit">Add Driver</button>
</form>
</body>
</html>